<!-- dashboard.html -->
{% extends 'base.html' %}

{% block content %}
    <!-- Specific content for the dashboard page -->
            <h3>Dashboard</h3>
            <div class="row">
                <div class="col-md-12">
                    <div class="card"  style="background: aliceblue;">
                        <div class="card-body">
<h1 class="display-4">Hello, {{ current_username }}!</h1>
  <p class="lead">All great things have to start somewhere...</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>

                       </div>
                    </div>
                </div>
                <div class="col-md-4 p-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><a href="/endpoints/geolocation" class="not_link">Geolocation</a></h5>
                            <p class="card-text">Get GeoLocation Country for an IP address</p>
        </div>
<a href="/endpoints/geolocation/docs" class="btn btn-warning btn-top-right"><code>/api/geolocation/$ip</code></a>
                    </div>
                </div>
                 <div class="col-md-4 p-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><a href="/endpoints/whois" class="not_link">WhoIs</a></h5>
                            <p class="card-text">Get WhoIs data for a domain</p>
        </div>
<a href="/endpoints/whois/docs" class="btn btn-warning btn-top-right"><code>/api/whois/$domain</code></a>
                    </div>
                </div>
<div class="col-md-4 p-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"><a href="/endpoints/geolocation" class="not_link">Geolocation</a></h5>
            <p class="card-text">Get Geolocation Country for IP address</p>
        </div>
<a href="/endpoints/geolocation/docs" class="btn btn-warning btn-top-right"><code>/api/geolocation/$ip</code></a>
    </div>
</div>
<style>
    .card {
  position: relative; /* To position the hover button relative to the card */
}

.btn-top-right {
  display: none; /* Hide the button by default */
  position: absolute;
  top: 10px;
  right: 10px;
}

.card:hover .btn-top-right {
  display: block; /* Show the button on hover */
}

.not_link {
            text-decoration: none;
    color: var(--bs-card-color);
    }
    </style>
</div>
{% endblock %}
